 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;        
}
header {  
         background-size: 100%; 
         background-repeat: no-repeat;
         margin-bottom: 5%; 
  }

header nav { display: block;
justify-content: space-between;
             margin: 0 auto;
             max-width: 100%;
             width: 80%;
             text-align: center;
             min width: 50%;
             
            }
         
body div header h1 { 
         text-align:center; 
         display: inline-block;
         font-size: x-large;
         margin-top:40px ;
         margin-left:100px;
         padding-inline-start: 30%;
         position:relative;
        }       
        

header nav div ul li{
           display: inline-block;
           margin: 3px;
           }

header nav div ul li a{
           text-decoration: none; 
          }
          

body { 
      flex-direction: column;
}
      
.contenedor {background-color: rgb(20, 212, 212);
width: 100%;
} 

.contenedor header h1 {grid-auto-flow: row; padding-right: 35%; margin-left:10% ;
}  

.containers h2 {grid-auto-rows: auto; margin-left: %;
}

.img__1{
         display: block;
         margin: 0 auto;
         max-width: 40%;
         width: 20%;  
         border: 5px solid black; 
         margin-left: auto;
}
    
.img__1 {width: 50%;
         height: 50%;
         margin-top: 3%;
         margin-bottom: 3%;
}

.img__1:hover{-webkit-transform:scale(1.2);transform:scale(1.2);}
.img__1 {overflow:hidden;}

.img__3:hover{order-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
 
.img__4:hover {-webkit-transform:scale(1.2);transform:scale(1.2);}
.img__2 {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  width: 20%;  
  border: 5px solid black; 
  margin-left: auto;
}        

.img__2{width: 50%;
height: 50%;
margin-top: 3%;
margin-bottom: 3%;}

.img__3{display: block;
  margin: 0 auto;
  max-width:  400px;
  width: 20%;  
  border: 5px solid black; 
  margin-left: auto; 
}

.img__3 { 
  width: 50%;
  height: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.img__4 {
        display: block;
        margin: 0 auto;
        max-width:1200px;
        width: 20%;  
        border: 5px solid black; 
        margin-left: auto; }

.img__4 {width: 30%;
height: 50%;
margin-top: 3%;
margin-bottom: 3%;}       

.img__4 {margin-top: 5%;}



.texto__1{ text-align: center;
}

.texto__1a {text-align: center;
}

.texto__1b {text-align: center;
}

.texto__2 {display: block;
  margin: auto;
  max-width: 100%;
  width: 80%;
 }

 .texto__3{ text-align: center; }

 .texto__4{  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;}


.texto__4{ margin-top: 5%; font-size: x-large;font-family: Arial, Helvetica, sans-serif;}
 

 footer{
        background-color: rgb(42, 160, 52); margin-bottom: 0%;
        margin-top: 5%;}

.contacto {display: inline-block; position:relative;
    }

    @media screen and (max-width: 640px) {
      .contenedor {
        background: rgb(141, 141, 235);
      }
    }
    
    @media screen and (min-width: 640px) and (max-width: 1280px) {
      .contenedor {
        background: rgb(206, 121, 121);
      }
    }
    
    @media screen and (min-width: 1280px) {
      .contenedor {
        background: rgb(192, 228, 192);
      }
    }

    @media screen and (max-width: 640px) {
      .contenedor {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    }
    
    @media screen and (min-width: 640px) and (max-width: 1280px) {
      .contenedor {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
    
    @media screen and (min-width: 1280px) {
      .contenedor {
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    }

  





